<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWfXbAB_8rVjx_vz8DWPMB_us98Mp6nKk</string>
	<key>GCM_SENDER_ID</key>
	<string>1018988365030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.osmaxin.dating</string>
	<key>PROJECT_ID</key>
	<string>evone-dating-app</string>
	<key>STORAGE_BUCKET</key>
	<string>evone-dating-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018988365030:ios:14b4a9641e08a624db6727</string>
</dict>
</plist>